.header {
    &_nav {
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-between;
        width: 100%;
    }   
    
    &_logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        &-item{
            display: flex;
            align-items: center;
        }
       
        &-sponsor {
            margin-left: 10px;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
        & span {
            font-weight: 700;
        }
        }
    }

    &_menu {
    }
    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 1;
    }
    &_item {
        color: #4F5665;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 400;
        padding: 10px 15px;
        cursor: pointer;
        transition: all linear .2s;
        &:hover {
            font-size: 2rem;
            font-weight: 500;
        }
    }

    &_group {
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    &_login {
        width: 100%;
        margin:0 20px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: var(--text-color);
    }
    &_register {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #F53855;
        border: 1px solid #F53855;
        border-radius: 50px;
        padding: 13px 20px;
        transition: all linear .2s;
        &:hover {
            background-color: #F53855;
            color: #fff;
        }
    }
}