.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: none;
    align-items: center;
    &_header {
        margin-top: 20px;
        text-align: center;
    }
    &_heading {
        font-size: 3rem;
        line-height: 5rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--text-color);
    }
    &_register {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 400;
        &:hover a {
            text-decoration: underline;
        }
    }
    // &_login {
    //     & i {
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         text-align: right;
    //         padding: 15px 25px;
    //         font-size: 2.5rem;
    //         color: var(--text-color);
    //         cursor: pointer;
    //         &:hover {
    //             font-size: 3rem;
    //             opacity: 0.8;
    //         }
    //     }
    //     position: relative;
    //     margin: 0 auto;
    //     border-radius: 5px;
    //     background-color: var(--bg-color);
    //     width: 70%;
    //     height: 80%;
    //     display: none;
    //     flex-direction: column;
    //     animation: fadeIn linear 0.3s;
    // }
    // &_login.active {
    //     display: flex;
    // }

    &_register {
        & i {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            padding: 15px 25px;
            font-size: 2.5rem;
            color: var(--text-color);
            cursor: pointer;
            &:hover {
                font-size: 3rem;
                opacity: 0.8;
            }
        }
        margin: 0 auto;
        border-radius: 5px;
        background-color: var(--bg-color);
        width: 70%;
        min-height: 100%;
        display: none;
        flex-direction: column;
        position: relative;
        animation: fadeIn linear 0.3s;
    }
    &_register.active {
        display: flex;
    }
}
.modal.active {
    display: flex;
}

.form_register {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}

// .form_login {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     align-items: center;
// }
.form_group.invalid .form-message{
    text-align: left;
    margin-top: -10px;
    color: red;
    width: 60%;
    font-size: 1.3rem;
}
.form_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_lable {
    display: none;
}
.form_control {
    width: 60%;
    margin: 20px 0;
    font-size: 2rem;
    padding: 15px 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.3);
}

.form_forgot {
    font-size: 1.5rem;
    margin-top: 30px;
    &:hover {
        text-decoration: underline;
    }
}

.form_suggest {
    margin: 10px auto 0 auto;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-color);
    & a {
        text-decoration: none;
        color: var(--primary-color);
    }
}

.form-submit {
    width:60%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #F53838;
    box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    margin: 0 auto 0 auto;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    position: absolute;
    bottom: -80px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}